[build]
  base = "civic-react"
  publish = "civic-react/build"
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  CI = "false"
  REACT_APP_API_URL = "https://your-backend-url.herokuapp.com/api"