[build]
  command = "npm run build"
  publish = "civic-react/build"
  functions = "netlify/functions"

[context.production.environment]
  REACT_APP_API_URL = "/api"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200